<div class="card w-96 bg-base-100 shadow-xl image-full m-auto">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">ApprisED for Students</h2>
      <p>Access your courses, grades and homework.</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="/portal/student/<%= user.id %>">Enter Student Portal</a>
      </div>
    </div>
  </div>