<div class="card w-96 bg-base-100 shadow-xl image-full m-auto">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">ApprisED for Teachers</h2>
      <p>Add assignments, check student grades, and more.</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="/portal/teacher/<%= user.id %>">Enter Teacher Portal</a>
        
      </div>
    </div>
  </div>


<div class="flex flex-col w-1/2 m-auto justify-center">
    <div class="divider"></div> 
</div>